<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.fhg.igd.equinox.test.listeners" name="JUnit Test Run Listeners" schema="schema/de.fhg.igd.equinox.test.listeners.exsd"/>
   <extension
         id="de.fhg.igd.equinox.test"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="*"
            thread="any"
            visible="true">
         <run
               class="de.fhg.igd.equinox.test.app.TestRunnerApplication">
         </run>
      </application>
   </extension>

</plugin>
