name: Publish

on:
  push:
    branches: [ master ]

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
    - name: Setup Maven
      uses: s4u/setup-maven-action@6c4e9964d4ecb8f1026310cd8618791fd51a8016 # v1.19.0
      with:
        java-version: 8
        java-distribution: temurin
        maven-version: 3.6.3
      
    - name: Maven
      # Additional args to work around Github Runner issue (on Azure)
      # see https://github.com/actions/runner-images/issues/1499#issuecomment-689467080
      run: mvn clean install -Dmaven.test.failure.ignore=true -Dmaven.wagon.httpconnectionManager.ttlSeconds=60

    - name: Install AWS CLI
      uses: unfor19/install-aws-cli-action@f5b46b7f32cf5e7ebd652656c5036bf83dd1e60c # 1.0.8
      with:
        version: 1

    - name: Upload
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.BUILD_ARCHIVE_ACCESS_KEY }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.BUILD_ARCHIVE_SECRET_KEY }}
      # use commit sha as version for update site as long as there is no proper version management for the feature and bundles
      run: |
        VERSION=${{ github.sha }}
        aws s3 sync de.fhg.igd.equinox.test.site/target/repository/ s3://build-artifacts.wetransform.to/p2/equinox-test/$VERSION --acl public-read --delete --region eu-central-1
      shell: bash
